:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-template-rows: 125px 1fr 1fr;
} */

/* GLOBAL */
.wrapper {
  margin-left: 7rem;
  margin-right: 7rem;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-template-rows: 125px 1fr 1fr;
}

/* HEADER */
header {
  grid-column: 1 / -1;
  grid-row: 0 /1;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin: 2rem;
  display: flex;
  align-items: center;
}

.logo i {
  font-size: 3rem;
  display: inline-block;
  margin-right: 2rem;
}

.logo img {
  height: 3rem;
  text-align: center;
  display: inline-block;
}

.header .navigation__icons {
  text-align: center;
  margin: auto 4.75rem;
}

.header .navigation__icons i {
  font-size: 2rem;
  display: inline-block;
  margin-right: 4rem;
}

.header .profile {
  text-align: center;
  margin: auto 4.75rem;
}

.header .profile i {
  font-size: 2rem;
  margin-right: 4rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.header .profile img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

/* ASIDE */
aside {
  grid-column: 1 / 2;
  grid-row: 2 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.profile__info .profile__display img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid rgb(191, 0, 146);
  display: block;
  margin-bottom: 2rem;
  margin: 0 auto;
  margin: auto;
}

.profile__info .profile__display .onload {
  background: rgb(191, 0, 146);
  border: 1px solid transparent;
  background: linear-gradient(
    210deg,
    rgba(191, 0, 146, 1) 0%,
    rgba(249, 146, 67, 1) 100%
  );
  border-image-slice: 1;
  transform: rotate(360deg);
}

.profile__info .profile__display .profile__stats {
  display: flex;

  justify-content: center;

  align-items: center;
}
.profile__info .profile__display p {
  padding: 1rem;
  color: #c7c7c7;
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 400;
}

.profile__info .profile__display b {
  font-size: 1.7rem;
  display: block;
  color: black;
  font-weight: 700;
  text-align: center;
}

.profile__info .profile__display .follow_btn a {
  text-decoration: none;
  color: white;
  background: #0084f6;
  display: inline-block;
  margin: 1rem;
  width: 23rem;
  height: 4rem;
  font-size: 1.4rem;
  font-family: sans-serif;
  text-align: center;
  padding-top: 1rem;
  font-weight: 700;
  border-radius: 5px;
}

.profile__info .profile__display .follow_btn a:hover {
  cursor: pointer;
}

.profile__info .profile__display .follow_btn .clicked {
  border: 1px solid grey;
  color: black;
  background: white;
}

.profile__info .bio,
.profile__info .bio h6 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile__info .bio p a {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  margin-bottom: 2rem;
}

.profile__info .profile__stories {
  display: flex;
  flex-wrap: wrap;
  width: 26rem;
  height: 30rem;
}

.profile__info .profile__stories .story__label {
  text-align: center;
  padding: 0.5rem;
}

.profile__info .profile__stories p {
  font-weight: 700;
  font-family: sans-serif;
  display: block;
}

.profile__info .profile__stories i {
  display: inline-block;
  padding: 2.75rem;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
}

.profile__stories img {
  width: 7rem;
  height: 7rem;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 50%;
}

/* MAIN */
main {
  grid-column: 2 / -1;
  grid-row: 2 /-1;
  height: 80rem;
  width: 120rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, minmax(25rem, 1fr));
}

main .img-container img {
  width: 38rem;
  height: 37rem;
  margin: 1.5rem;
}

main .img-container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
}

.img-container:hover .image {
  opacity: 0.5;
}

.img-container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
  margin: 0 auto;
}
.text p {
  display: inline-block;
  text-align: center;
  margin: 2rem;
}
